{% extends "job/base.html" %}

{% block content %}


<h2>Transfer of CIS Security Limited Staff to King's College London</h2><br/>
<h3>Proposal for Staff Transfer</h3>
<p>This document sets out information about the measures which it is envisaged that King’s College
London (‘KCL’) will take affecting employees who will transfer from CIS Security Limited (‘CIS’)
to KCL on 1 August 2019.</p>

		<h4>CIS staff transferring to KCL</h4>
	

<p>The staff who are currently employed by CIS Security Ltd and who are wholly or mainly assigned
to provide security service to KCL (‘CIS staff’ or ‘Staff’), will transfer under the Transfer of
Undertakings (Protection of Employment) Regulations 2006 (TUPE), to KCL.</p>
<p>The Staff will become employees of KCL and maintain their continuous service. They will be
offered the full terms and conditions of employment enjoyed by KCL employees, with effect from
the transfer date.</p>

<h4>‘CIS staff’ or ‘Staff’ includes the following posts:</h4>
<ol class="list-group">
<li class="list-group-item">Access Control Operative</li>
<li class="list-group-item">CCTV Controller/Team Leader</li>
<li class="list-group-item">Security Manager</li>
<li class="list-group-item">Deputy Security Manager</li>
<li class="list-group-item">Events Risk Assessor</li>
<li class="list-group-item">Receptionist/Supervisor</li>
<li class="list-group-item">Scheduler</li>
<li class="list-group-item">Access Control Operative</li>
<li class="list-group-item">Security Account Manager</li>
<li class="list-group-item">Security Officer, Supervisor, Team Leader</li>
<li class="list-group-item">Security Receptionist</li><br/>
</ol>

<p>The specific individuals who are transferring will be confirmed in writing by KCL as part of the
consultation process. Those Staff who have resigned or whose contracts have ended prior to the
transfer date of 1 August 2019 will not transfer to KCL.</p>

<h4>2nd Generation TUPE</h4>
<p>KCL recognises that certain staff will be transferring to the College having previously transferred
from other employers including KCL to CIS.</p>
<p>These employees are likely to have retained some or all of their original terms and conditions when
they transferred to CIS. Accordingly, when these staff transfer back to KCL they will have option of
taking up the new terms and condition as outlined herein or remain on their current, preserved
terms.</p>

<h4>Dedicated Response Operatives</h4>
<p>KCL recognises that CIS currently provide a dedicated security response function using employees
on Zero-Hours contracts. In line with our commitment, KCL proposes to extend its employment
offer to this group of workers and offer full-time or part-time permanent contracts. The exact number
of hours will be agreed between the individual and KCL.</p>
<p>the event that the individual wishes to remain engaged on a Zero-Hours basis, it is proposed that
their engagement will continue via KCL Talent Bank.</p>
<h3>2. Structure and service model</h3>
<p>The Staff who transfer to KCL will form part of the Estates and Facilities Directorate. The proposed
structure for Security Operations is set out in Appendix 1.</p>
<p>The structure at Appendix 1 has been developed to accommodate CIS staff within the existing
Estates and Facilities Management structure of KCL in order to provide the appropriate structured
line management support.</p>
<p>All Staff will work across the KCL Estate and other KCL premises in accordance with their existing
contractual provisions, this includes any existing mobility clause.</p>
<h4>3. Post-transfer Job descriptions</h4>
<p>Job descriptions will be drafted and provided to employees prior to transfer.</p>



<div class="container">
	<h4>4. Timescales and milestones for the transfer</h4>
	<p>The proposed timescales and key milestones for the transfer of CIS staff to KCL are set out below.
		These are subject to CIS authorising KCL to meet directly with Staff.</p>         
		<table class="table table-bordered">
		  <thead>
			<tr>
			  <th>April 2019</th>
			  <th>May – June</th>
			<th>July</th>
			<th>1 August 2019</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="success">Formal consultation commences with Unison and other relevant staff representatives</td>
			  <td class="danger">1-2-1 consultation and employee engagement across campuses commences</td>
			 <td class="info">Employee on-boarding</td>
			 <td class="warning">Transfer of CIS staff to KCL</td>
			</tr>
			  
		  </tbody>
		</table>
	  </div>
 
<h4>5. Transfer to KCL Terms & Conditions</h4>
<p>KCL proposes to transfer all effected CIS employees to the College’s Harmonised Terms and
Conditions for Non-Academic Staff on 1 August 2019. All staff will be issued with a new contract,
reflecting their continuous service.</p>
<p>The following sets out the proposed terms and conditions and main polices and procedure for CIS
staff when they transfer to KCL.</p>
<h5>5.1 Working Hours</h5>
<p>Staff who transfer to KCL will move on to our Harmonised Terms and Conditions for NonAcademic Posts retaining the same contractual hours each week and continuing to be paid in respect
of all of their current contracted hours.</p>
<p>Pay at KCL is calculated on the basis of staff working a 35 hours per week (excluding breaks), or a
shift or other agreed working pattern which averages 35 hours per week over a year. Staff currently working less than 35 hours per week no changes are proposed.</p>
<p>For Staff working more than 35 hours per week, the 35 hours will be paid as ‘core contractual
hours’ and any contractual hours worked in addition to 35 will be paid as ‘additional contractual
hours’.</p>
<p>For example, if a member of staff is currently contracted to work 56 hours per week, they will be
paid 35 core hours per week, plus 21‘additional contractual hours’ per week.</p>
<h5>5.2 Employee Pay</h5>
<p>KCL terms and conditions define a standard working week as 35 hours. KCL recognises that staff
transferring to KCL will have different contractual hours necessary to reflect the operational
environment.</p>
<p>New employees to KCL are typically placed on the Single Pay Spine, on a point within a grade
equivalent to the standard working week’s pay for the role.</p>
<p>In order to best mirror existing operational practices for transferring staff whilst maintaining equity for
all employees, KCL is proposing to convert the annual pay of transferring staff to an hourly rate based
on the KCL standard working week.</p>
<p>The majority of transferring staff are paid an hourly rate with the minimum pay rate being £10.55 per
hourly. This is reflective of the current London Living Wage.
Staff will be paid an hourly rate which gives a total pay which is at least equal to their current pay,
based on a 35-hours week/1,825-hour a year.</p>
<p>The example below demonstrates how the new hourly rate is derived.</p>

<h5>Mapping to the KCL single pay spine.</h5>
<ul class="list-group">
	<p><li>An individual working a standard working week of 35hrs per week, on a rate of £10.55 per
		hour currently earns £19,254 per year.</li></p>
	<p><li>Including the London Weighing Allowance, the nearest and higher equivalent KCL spine point
		is currently £19,369 (grade 1.3).</li></p>
	<p><li>The base salary value of grade 1.3 (currently £16,146 pa) will be used to determine the hourly
		rate for all contractual hours worked (core and additional contractual hours as outlined in
		section 5.1 above).</li></p>
	<p><li>The London Weighting Allowance (LWA) of £3,223 will be expressed separately.</li></p>
	<p><li>Base pay together with the LWA equates to an hourly rate of £10.61.</li></p>
	<p><li>An additional allowance, equal to £1.766 an hour, will be paid for all additional contractual
		hours, (i.e. those hours worked in excess of 35)</li></p>
	<p><li>Overtime will be paid on base salary elements only</li></p>
</ul>

<h5>Example of employee working 56 average hours per week</h5>
<p>Base Salary £16,146 Spine Point 1.3 (based on 35hrs)</p>
<p>Base Salary £9,688 21 additional hours at the same rate, i.e. 21/35ths</p>
<p>London Weighting Allowance £3,223 King’s standard London Weighting Allowance</p>
<p>Additional Allowance £1,934 Calculated at £1.766 for every hour in excess of 35 hours. (1,095
hours a year)</p>
<p><span>Total Pay: £30,991</span></p><br/>
<h5>Example of employee working 60 hours per week</h5>
<p>Base Salary £16,146 Spine Point 1.3 (based on 35hrs)</p>
<p>Base Salary £11,533 25 additional hours at the same rate, i.e. 25/35ths</p>
<p>London Weighting Allowance £3,223 King’s standard London Weighting Allowance</p>
<p>Additional Allowance £2,303 Calculated at £1.766 for every hour in excess of 35 hours. (1,304
hours a year)</p>
<span>Total Pay £33,205</span>
<br/><br/>
<p>Example of employee working 42 hours per week,</p>
<p>Base Salary £16,146 Spine Point 1.3 (based on 35hrs)</p>
<p>Base Salary £3,229 7 additional hours at the same rate, i.e. 7/35ths</p>
<p>London Weighting Allowance £3,223 King’s standard London Weighting Allowance</p>
<p>Additional Allowance £645 Calculated at £1.766 for every hour in excess of 35 hours. (365 hours
a year)</p>
<h4>Total Pay: £23,243</h4>
<p>The same calculation will be applied to determine the pay for all other contractual hours
KCL will continue to reflect the annual increment, pay award and any increase in London Weighting
Allowance to hourly rates in accordance with its existing practice for all other staff. This will ensure
all KCL employees are treated equally.</p>
<p>London Weighting Allowance (LWA)</p>
The current value of LWA is set a £3223 per annum. All staff transferring to KCL will benefit from
the LWA as they will be mapped to the single pay spine as outlined above. As LWA has a maximum
value and is not able to be pro-rated over this amount, staff who are contracted to work more than
35hrs per week will receive an additional hourly rate for hours any additional contractual hours that is
equivalent to the same value of LWA were it pro-rated up.
5.3 Salaried Employees
Similarly to the above example, staff who are currently paid a fixed salary will be aligned to point equal
to their current salary or next highest spine point based on 35hrs a week.
Note: All transferring staff will benefit from the annual increment and pay award in the same manner
as existing King’s employees.
5.4 Breaks
KCL recognises that certain staff receive paid breaks. In order to comply with TUPE regulations and
to maintain operational effectiveness this practice will continue post transfer.
5.5 Overtime
Any overtime worked (i.e. any hours worked in addition to ‘core hours’ and ‘additional contractual
hours’) will need to be agreed in advance by the line-manager. 
Page 6 of 18
Where members of staff are requested to work more than their contracted hours per week,
compensation will be awarded either by payment at the rates specified below or as entitlement to
take time off in lieu (TOIL) of those additional hours worked.
TOIL will be awarded when the need for additional working is unexpected. If an individual has been
given at least 24 hours’ notice of the requirement to work additional hours they will be paid in
accordance with the rates below. It should be noted that individuals have the right to turn down
requests for working additional hours.
The decision as to the method of compensation will be made in consultation with staff affected but
ultimately rests with the line-manager. Any additional hours for which payment is sought must be
authorised (usually in advance) by the appropriate Operations Manager.
Payment for authorised overtime (or TOIL accrual) will be made at the following rates:
 Standard work days and Saturdays (unless Saturday is a rostered work day) – time and a
half (basic pay rate excluding LWA)
 Sundays (unless a standard work day), bank and public holidays, closure days – double time
(basic pay rate excluding LWA)
In cases where a staff member’s regular work pattern includes work on Saturdays and Sundays these
days are considered standard working days for that staff member.
Their equivalent Saturday and Sunday will be the sixth and seventh consecutive day of their
working pattern.
If normal hours exceed the maximum 48 hours per week average limit, staff will be asked to sign an
opt-out agreement or reduce the hours of work.
Transitional Arrangements
As overtime is paid in arrears, KCL will ensure arrangements are put in place for any money owed
by CIS to members of staff at the time of transfer to be paid. Staff will be updated again once the
arrangement is confirmed.
5.6 Pay awards
Nationally agreed pay awards are periodically applied to adjust the values of points on pay scales,
usually from 1 August each year. KCL elects to take part in the negotiations which are conducted at
a national level by the Joint Negotiating Committee for Higher Education Staff (JNCHES), which
includes representatives of the Universities and Colleges Employers’ Association (UCEA) and
Higher Education unions, including the University and College Union (UCU) and UNISON.
Note: LWA is negotiated locally between KCL and the Trade Unions.
Page 7 of 18
5.7 Holiday pay
KCL will ensure that Staff receive the same pay while they are on annual leave as they normally
receive while they are at work. The calculation of holiday pay will be based upon the average pay,
including any overtime received during the previous 12-weeks worked before the holiday is taken.
This will apply to the full annual leave entitlement that KCL offers and not just the four weeks’
minimum annual leave under EU law.
5.8 Pay Day
Transferring staff will be paid in line with KCL’s pay date, which is the 27th day of each month.
Where the 27th falls over a weekend of public holiday, pay day is the Friday before the 27th
The first pay day would be 27 August 2019.
Note: due to payroll cut-off (currently 10th of each month), overtime is paid in arrears e.g. overtime
work from the 11th September to the 9
th October will be paid in October’s pay.
6. Annual Leave and Closure
6.1 Leave Entitlement
The holiday entitlement for full-time members of staff at KCL is 27 days’ annual leave plus public
holidays (eight days per year). In addition, up to five concessionary days are granted over the period
between Christmas and New Year. The number of concessionary days are set in advance (currently
at four) and are available to view on the KCL intranet. Concessionary days are not contractual.
It is envisaged that all staff will receive these entitlements or their equivalent. This will mean annual
leave being set at the equivalent of 39 days a year (incl. four concessionary days). However, as some
services will be required, for example in the campus areas, during periods of closure and bank
holidays, some staff may be required to work at these times. These staff, which typically will include
cleaning staff and will be rostered accordingly.
KCL also recognise that some staff may work irregular patterns. These may include only working
certain days of the week or working all days but not necessarily the same hours each day. In order to
ensure absolute equality of treatment relating to annual leave, the annual leave entitlement will be
denominated in hours but based on 39* days’ leave for a 260-day year.
[* assuming that there are four concessionary days and eight public holidays. The number of days’ leave will be adjusted
accordingly should this not be the case.]
Detailed below are examples based on various contractual hours worked by CIS staff:
A – if an employee works 60hrs per week (5 x12hrs shift) they will have 468 hours annual leave
B – if an employee works 42 hrs per week (5 x 8hrs shifts) they will have 328 hours annual leave.
C – if an employee works 56hrs per week (7on/3off) x 12hr shifts) they will have 437 hours annual
leave.
Page 8 of 18
D - if an employee works 56hrs per week (7on/4off) x 12hr shifts) they will have 437 hours annual
leave.
Note: Examples C & D are the same as Leave is a function of what hours are worked, whilst the shift pattern is a function of how they are
worked.
Although leave entitlement is described in numbers of hours, staff will be required to request leave in
blocks of no less than half a working day. For example, if an individual normally works for four
hours on the day in question, a half day equates to two hours.
To calculate how many ‘shifts’ the total number of annual hours equates to, you divide by the length
of shift in hours.
For example, in ‘D’ above, and for an employee working a 12-hour shift on a 7 on/4 off cycle, the
annual leave entitlement will still be equivalent to 437hrs / 12hrs = 36.5 shifts and leave ‘blocks’ will
be restricted to a minimum of three hours, i.e. half a shift at a time.
It must be noted that all concessionary days are non-contractual and KCL reserves the right to vary
the number each year. The methodology for the leave arrangements outlined above is designed to
achieve clarity and fairness across transferring roles.
6.2 Leave year
KCL’s leave year runs from 1 January to 31 December. The leave year for Staff transferring will be
in line with the KCL annual leave cycle. Annual leave for the period 1st August to 31st December
2019 will be set at 5/12ths of the standard allowance. For example for those on a 35-hour week this
would be 114 hours.
However, staff should be aware that, of the 114 hours’ leave in the above example, 49 hours will be
used by the three public holidays and four concessionary days between 1st August and 31st
December.
In exceptional circumstances, staff may carry over up to 35 hours (that is, one week), (pro-rata for
contractual hours) annual leave to the following leave year providing the following circumstances
apply;
i. The Operations Manager has agreed that the member of staff may carry forward the
leave; and
ii. The member of staff has taken at least 28 days (pro-rata if part-time) leave in that year
(including public bank holidays and KCL closure days).
KCL operates an online system for booking annual leave it is proposed that all transferring staff will
also use the system for booking annual leave.
If Staff leave KCL employment part way through the annual leave year, and they have outstanding
annual leave, where practicable, outstanding leave should normally be taken during their notice
period. A payment in lieu will be made for any outstanding annual leave not taken before the last day
of employment (e.g. where operational reasons prevent Staff from taking their remaining leave
during their notice period or where a member of staff was dismissed without notice).
Page 9 of 18
If a member of staff leaves KCL employment and on the date that they leave, they have taken annual
leave in excess of their entitlement, they will be required to reimburse KCL (normally by deduction
from final salary payment(s)) in respect of this holiday.
6.3 Payment whilst on Annual Leave
KCL will calculate pay whilst on annual leave in accordance with the European Working Time
Directive legislation. More details of this will be provided ahead of the transfer.
Transitional Arrangements
In order to enable the transition to KCL’s leave year, staff will have their leave allocation from the
date of the transfer to 31 December 2019 (pro-rated accordingly) plus any leave they have accrued
during their current annual leave year but not taken at the date of transfer.
For the avoidance of doubt, annual leave accrued under CIS will carry over on the basis of CIS
terms, so if you have 5 days leave remaining at the time of transfer, you will have 5 days added to
your KCL leave entitlement from 1 August 2019.
Pay for all annual leave will be in accordance with section 5.7 of this document.
Each member of Staff will be provided with a calculation of their leave entitlement up to 31
December 2019.
7. Sickness Absence
KCL’s contractual (occupational) sick pay, and the period for which it is paid, in respect of any
absence due to illness is determined by length of service (which includes an individual’s continuous
service).
Staff who transfer to KCL will be fully aligned to its sick pay provisions and procedures.
Following the date of transfer, and provided that Staff comply with the notification procedure
outlined in KCL’s sickness absence policy and procedure, their salary shall continue to be paid at full
or half rate for a period according to the rules set out below:
Length of Service Full Pay (pro rata) Half Pay (pro rata)
0 months – 4 months 1 month Nil
5 months – 12 months 1 month 2 months
During 2nd year 3 months 3 months
During 3rd year 4 months 4 months
During 4th year 5 months 5 months
During 5th and subsequent years 6 months 6 months 
Page 10 of 18
Note: Continuity of service is protected under TUPE regulations, accordingly KCL will recognise
employee service from the outset.
The calculation of sick pay will be based upon the average pay, including any overtime received
during the previous 12-weeks worked before the first date of sick absence.
Transition Arrangements
Staff who are absent due to sickness when their employment transfers to KCL will benefit from
KCL’s sick pay provisions from the point of transfer moving forward.
Further details on notification procedures and the way in which the KCL’s sick pay is administered
can be found in KCL’s sickness absence policy and procedure below:
https://internal.kcl.ac.uk/hr/info/SicknessAbsencePolicy.pdf
8. Probation Period
Staff who transfer to KCL whilst in their probation period, will remain in probation following the
transfer and subject to CIS policy in respect of the remaining period.
Staff who have completed their probation period before the transfer will not be required to
undertake an additional probation period.
Following the transfer all new staff or staff being promoted to a new role will be subject to the KCL
policy in respect of probation.
9. Pensions
Staff will be auto-enrolled into either SAUL or USS, (KCL’s pension schemes) dependant on the
grade upon transfer. Staff may opt-out if they wish. Contribution rates are currently made up as
follows:
SAUL - 6% contribution from the Employee and a 16% contribution from KCL.
USS - 8.8% contribution from the Employee and a 19.5% contribution from KCL.
It is unlikely that staff will be allowed to remain in their current pension schemes, but staff are
advised to seek advice from CIS or from the scheme directly ahead of the transfer.
Detailed information about contribution rates and the benefits provide by the scheme will be
provided separately and via dedicated Pension sessions for employees.
More information can be found by clicking the link below.
http://www.saul.org.uk/
https://www.uss.co.uk/
Page 11 of 18
10. Notice Periods – Grade 1 to 4 only (the majority of transferring staff)
The notice period for staff who transfer to KCL with less than 1 years’ service is 4 weeks, from the
employee or KCL. For other staff the table outlines the required notice periods by length of service.
10.1 Notice Periods – Grade 5 to 8 only
Staff in grade 5 to 8 are required to give or receive 12 weeks’ notice of termination of
employment in writing.
It is KCL policy that this notice period may be shortened where practicable by mutual agreement
with the member of staff’s Head of Department/Division. Letters of resignation should be sent to the
Head of Department/Division and copied to Human Resources
10.2 Notice Periods – General
KCL may make payment of the requisite amount of salary in lieu of notice of termination of
employment.
KCL reserves the right to terminate employment without notice in the event of gross misconduct.
For members of staff appointed on fixed-term contracts, their employment may be terminated by
KCL on giving notice as described above
11. Staff benefit scheme
KCL has a number of benefits that CIS staff will be eligible for (subject to qualifying criteria). These
include:
 Access to Tax-Free Childcare Scheme
 Access to King’s Sport
 Access to KCL Libraries
 Travel Season Ticket Loan
 Cycle to Work Scheme
Length of Service Length of Notice by employee Length of Notice by employer
Over 1yrs service 4 weeks 4 weeks
Over 2yrs service 4 weeks 4 weeks
Over 3yrs service 4 weeks 4 weeks
Over 4yrs service 4 weeks 4 weeks
More than 5yrs service 4 weeks 5 weeks – followed by 1 additional
week for each subsequent year of
service to a max of 12 weeks 
Page 12 of 18
 24/7 confidential employee support scheme.
Full details of these additional benefits can be viewed here. A copy of these and all KCL policies and
procedures are contained on the KCL Intranet or by clicking on the following link.
https://internal.kcl.ac.uk/hr/paybenefits/staffbenefits/index.aspx
11.1 Saturday Hospital Fund
Staff transferring to KCL can continue to be a member of the hospital fund but KCL cannot
guarantee the same discounted rates will apply. Staff are advised to contact the scheme
administrators for further information.
12. KCL Main Employment Policies and Procedures
Staff transferring to KCL will be subject to and benefit from all KCL policies and procedures, in
replacement of any CIS policies and procedures applicable to Staff. KCL’s key policies and
procedures, highlighting enhanced provisions, are outlined below.
In summary, the key benefits to staff of being subject to KCL policies and procedures are:
 Enhanced occupational sick pay, determined by length of service (as set out in section 7
above)
 Enhanced family provisions including Maternity, Paternity, Adoption, Surrogacy and Shared
Parental Leave as well as the opportunity to apply for additional leave provisions such as
compassionate, carers and emergency leave.
 An enhanced redundancy policy and a redeployment policy designed to facilitate movement of
staff in to suitable alternative roles.
 Detailed guidance and frameworks on the expected behaviours of all staff at KCL, such as our
Principles in Action as well as a Whistleblowing Policy.
 Comprehensive career development and training benefits with dedicated Organisation
Development team offering in-house and bespoke programme and courses.
Transition Arrangements
Staff who transfer their employment to KCL will benefit from KCL policies and procedures from the
point of transfer.
Detailed below are a summary of the key policies and procedures immediate relevant for staff
transferring to KCL. A copy of these and all KCL policies and procedures are contained on the KCL
Intranet and all staff should have access to this.
12.1 Maternity Leave and Pay Policy
Staff can take up to 52 weeks maternity leave. KCL offers staff with 52 weeks or more continuous
service Occupational Maternity Pay of 18 weeks full pay, eight weeks half pay and 13 weeks at the
statutory rate and can choose to take the remaining 13 weeks of the maternity leave without pay. 
Page 13 of 18
Staff with 18 to 52 weeks of continuous service will receive Enhanced Maternity Pay of 12 weeks
full pay, 4 weeks half pay and 23 weeks at the statutory rate and can choose to take the remaining 13
weeks without pay.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/parenting/maternity.aspx
12.2 Adoption, Surrogacy and IVF Leave and Pay Policy
Staff can take up to 52 weeks adoption or surrogacy leave. KCL offers staff with 52 weeks of
continuous service or more, Occupational Adoption Pay at the rate of 18 weeks full pay, eight weeks
of half pay, 13 weeks at the statutory rate. KCL offers staff with 38 to 52 weeks continuous service,
Occupational Adoption Pay at the rate of 12 weeks full pay, four weeks half pay, 23 weeks at the
statutory rate. KCL also offers Occupational and Statutory Adoption Pay to qualifying employees
having a child through surrogacy.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/parenting/adopt.aspx
12.3 Paternity and Partner Leave and Pay Policy
KCL offers up to two calendar weeks leave on full pay which can be taken up to eight weeks after
the birth or adoption of a child to staff who have completed 26 weeks continuous service with KCL
by the end of the 15th week before the week in which the child is due, or ending with the week in
which the child’s primary adopter is notified of having been matched with the child for adoption.
This also applies to a surrogacy.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/info/PaternityLeave.pdf
12.4 Shared Parental Leave Policy and Procedure
KCL offers Occupational Shared Parental Pay at the rate of 18 weeks’ full pay, eight week’s half pay
and 13 weeks’ statutory shared parental pay to staff with 52 weeks’ continuous service at the 15th
week before the expected week of childbirth or by the week in which notification of matching was
given by the adoption agency, and who are still employed by KCL until the week before the period
of shared parental leave, provided that their average weekly earnings are not less than the lower
earnings limit for national insurance contributions.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/info/sharedparental.aspx
Page 14 of 18
12.5 Flexible Working Policy and Procedure
Requests for Flexible Working (including job share arrangements) will be considered in line with
KCL’ procedure, which affords staff the opportunity to attend a meeting to discuss their request, the
right to a written decision in relation to their request and a right of appeal in relation to the decision
reached in relation to a request.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/parenting/other/flexible.aspx
12.6 Childcare
KCL recognises that choosing childcare is an important decision for every family and has a range of
methods to provide staff with support via a number of government backed schemes.
More information is provided below and available from the government’s Childcare
Choices and Childcare Service webpages.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/parenting/childcare.aspx
12.7 Capability & Disciplinary Procedures
KCL has developed procedures to enable managers to assist staff in maintaining the required
standards of conduct and work performance and to ensure that in cases where staff have failed to do
so, a fair and systematic process is followed to help them improve.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/info/CapabilityDisciplinary.pdf
12.8 Grievance Policy
KCL Grievance procedure is designed to help staff and managers deal with grievance situations in
the workplace in a manner which is fair and expeditious. It is KCL’s wish to find a solution to
individual grievances and dignity at work concerns as early in the procedure as possible, ideally
informally.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/info/GrievanceProcedure-NonAcademicStaff.pdf
12.9 Data Protection
The EU General Data Protection Regulation (GDPR, and associated UK data protection legislation
such as the Data Protection Act 2018) sets out the legislative framework for managing personal data.
All personal data must be handled according to the eight data protection principles. 
Page 15 of 18
Further details of this policy can be found below:
https://www.kcl.ac.uk/governancezone/GovernanceLegal/Data-Protection-Policy
12.10 IT Governance & Email Usage Policy
IT services are provided by KCL for academic and business purposes in support of KCL’s aims and
interests. IT services are made available to a wide range of users on a conditional basis. All users of
KCL’s services must comply with this Acceptable Use Policy, which additionally incorporates the
Joint Academic Network (JANET) Acceptable Use Policy. Further information regarding the
College’s policy on IT Governance can be found below:
https://www.kcl.ac.uk/governancezone/assets/informationpolicies/it-acceptable-use-policy.pdf
KCL’s policy on appropriate use of KCL email accounts. This policy applies to all email users
(which may include staff, students, employees, contractors and third parties) operating on behalf of
the university.
Further details of this policy can be found below:
https://www.kcl.ac.uk/governancezone/assets/informationpolicies/email%20usage%20policy.pdf
12.11 Whistleblowing
KCL’s Whistleblowing Policy sets out arrangements for staff to be able to raise concerns regarding
serious wrongdoing or malpractice.
Further details of this policy can be found below:
https://www.kcl.ac.uk/governancezone/assets/informationpolicies/information%20disclosure%20(
whistleblowing),%20policy%20on.pdf
12.12 Health & Safety
KCL’s Health & Safety team provide advice and assurance to the university with regards to the ongoing development and implementation of its health and safety management system.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/about/ps/safety/index.aspx
12.13 Alcohol and Substance Misuse Policy
It is the policy of the KCL’s Estates and Facilities Directorate (E&F) to ensure the safety of its staff
and of occupants of buildings in which it carries out work. By the very nature of much of the work,
there is risk involved. The Directorate’s alcohol and drugs at work policy aims to reduce the
negative impact of alcohol and drug misuse on workplace health and safety. 
Page 16 of 18
Further details of this policy can be found below:
https://emckclac.sharepoint.com/teams/EF/IMS/ASSURANCE%20HEALTH%20%20SAFETY
%20DOCUMENT%20LIBRARY/01%20POLICIES/DRUG-ALCOHOL%20POLICY.pdf
12.14 No-Smoking
KCL operates a smoke free policy across its entire estate:
Further details of this policy can be found below:
https://internal.kcl.ac.uk/about/ps/estates/Smoke-free-Kings/index.aspx
13. Diversity & Inclusion
KCL is committed to creating an inclusive environment that promotes equality of opportunity for
everyone in its community. KCL values the diversity of its staff and student body and recognises
that this is both a strength and a defining feature of KCL as a London university in a global context.
Further details of this policy can be found below, with more information available on the
intranet.
D&I Statement of Policy
Dignity at Work: Statement of Commitment
14. Staff Development Policy
Staff development needs will be discussed as part of KCL’s Staff Development and Review Scheme
(the School’s Appraisal Scheme for support staff)
Further details of this policy can be found below:
https://internal.kcl.ac.uk/hr/od/learn/PDRsupport.aspx
https://internal.kcl.ac.uk/hr/od/index.aspx
14.1 Training & SIA Licenses
KCL will continue to support staff through the provision of in-house training, including BICS and SI
training, machine specific, chemical handling, IPAF and ladder training.
Where required KCL will support reception and security staff in the retention of their SIA licenses,
in line with the arrangement that is held with CIS. This includes staff whose licenses are due to
expire between now and the transfer date, or immediately after. KCL want people to maintain their
knowledge and keep their licenses. 
Page 17 of 18
14.2 ILM Courses
KCL recognises that some CIS staff are currently undertaking external development courses with
the ILM. Upon transfer KCL will continue to support these individuals through to conclusion of
their course.
14.3 ESOL – assistance in learning English
There is no requirement for staff transferring to KCL to speak English. That said, KCL recognises
the value a second language can bring to an individual, both in the workplace and throughout their
life in the UK.
To this end, KCL will continue to work with Unison to develop a system and learning tools to best
enable staff wanting to learning English to do so. Further details of these will be provided to staff as
part of the formal consultation process.
15. Employee Assistance
As part of the Occupational Health Service Level Agreement with King’s College Hospital the
College has signed up to an Employee Assistance Programme for its staff. The EAP service is
entirely independent from the College and the service is confidential.
The College recognises that there are times when each one of us at some time in our lives will need
some extra support to cope with the demands of everyday life. The EAP provides independent
expert advice on both home and work concerns such as family matters, debt management,
relationships, wellbeing, personal development, life events and more.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/staff/help/eap.aspx
16. Wellbeing Programme
The welfare and well-being of staff is fundamental to KCL and its aim is to create a supportive,
healthy and satisfying working environment where everyone has a good work-life balance and access
to support and advice when it’s needed.
KCL have developed 3 Pathways to Wellbeing (Physical, Mental and Social) to provide tailored
support and links to internal and external guidance and services. Additionally, there are key links to
health and wellbeing training and the Employee Assistance Scheme available to staff.
Further details of this policy can be found below:
https://internal.kcl.ac.uk/staff/experience/wellbeing/wellbeing.aspx


{% endblock content %}